nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    top: 0;
    border-bottom: 4px solid rgb(7, 7, 7);
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 11;
} 

.brand,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 40px;
    margin-right: 0.6em;
}

.brand {
    transition: .4s;
    font-size: 1.5em;
}

.brand:hover > h2 {
    color: #dec129;
}

.links li {
    margin-right: 1em;
    list-style: none;
    font-size: 1.5em;
}

.links a {
    padding: .1em .3em;
}

#add a {
    color: #dec129;
}

#add a:hover {
    background-color: #efefef;
}